@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    background-color: #FAFAFA;
    color: #18181b;
    font-family: var(--font-sans);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .dark body {
    background-color: #09090b;
    color: #fafafa;
  }
}

@custom-variant dark (&:where(.dark, .dark *));